body{

}

div[name=text1]{
    color: whitesmoke;
    font-style: italic; 
}


.LoginPage {
    background: url(https://t4.ftcdn.net/jpg/01/70/93/27/240_F_170932733_VOHGeaH5AjrVCXBVryEwVgwhArv2wNNH.jpg);
    background-size: 100%;
    
}

.alert {
    margin-bottom: 0%;
    border-block: none;
    color: orangered;
}


/* Full-width inputs */
input[type=email], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 0.5;
    font-size: large;
    font-weight:800;
    border-radius: 15px;
    
}

/* Set a style for Login button */
button[name="Login"] {
    background: linear-gradient( #50068a,#e109e8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 25px;
}

button[name="Register"] {
    background: linear-gradient(#a61cb0,#50068a);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 70px;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 25px;
}
    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }



/* Center the avatar image inside this container */
.imgcontainer {
    width: 500px;
    margin: 0 auto; /* This centers the container horizontally */
    padding: 20px;
    text-align: center;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    box-shadow: 5px 5px 50px 10px grey;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
    font-size: 20px;
    font-weight:  800;
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    height: auto;
    margin-top: 2%;
}




